.detail-page {
  width: 90%;
  margin: auto auto;
}
.detail-page .breadcrumb {
  text-align: left;
  margin-bottom: 20px;
}

.detail-page .product-img {
  display: inline-block;
  width: 30%;
}

.detail-page .product-img img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.detail-page .product-img-small {
  display: inline-block;
  width: 7.5%;
  vertical-align: top;
}

.detail-page .product-img-small img {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 0.5;
}

.detail-page .product-img-small img.active {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
}

.detail-page .product-description {
  display: inline-block;
  width: 55%;
  margin-left: 5%;
  vertical-align: top;
  text-align: left;
}

.detail-page .product-description .title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-page .product-description .subtitle {
  font-size: 1em;
  margin-bottom: 20px;
  color: grey;
}

.detail-page .review {
  margin-bottom: 30px;
}
.detail-page .review .filled {
  color: #5b2f93;
}

.detail-page .review .unfilled {
  color: #e7dff1;
}

.detail-page .review .review-num {
  margin-left: 10px;
  color: #8b8e91;
}

.detail-page .product-description .price {
  font-size: 3em;
  line-height: 120%;
  margin-bottom: 20px;
}

.detail-page .selector-label {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 5px;
}

.detail-page .size {
  display: block;
}

.detail-page .color {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.detail-page .actions {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.detail-page .size-select-container button {
  background-color: #efe8f7;
}

.detail-page .color-select-container img {
  border: 1px solid #efe8f7;
  margin-right: 5px;
  opacity: 0.7;
}

.detail-page .color-select-container img:hover {
  border: 1px solid grey;
  margin-right: 5px;
  opacity: 1;
}

.detail-page .counter {
  display: inline-block;
}
.detail-page .counter > * {
  display: inline-block;
}

.detail-page .count {
  padding: 0px 10px;
  height: 40px;
  width: 80px;
  text-align: center;
  padding: 5px 0px;
  vertical-align: top;
  border: 1px solid #caccce;
}

.detail-page .counter .btn {
  margin: 0px;
  height: 40px;
  width: 30px;
  border: 1px solid #caccce;
}

.detail-page .counter .btn.noincrease {
  background-color: #caccce;
  color: grey;
}

.detail-page .detail {
  width: 40%;
  display: inline-block;
}

.detail-page .detail-info {
  margin-top: 50px;
}

.detail-page .detail-info .review-detail {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.detail-page .detail-info .description-detail {
  width: 55%;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.detail-page .review-container {
  background-color: #efefef;
  padding: 15px;
}

.detail-page .review-container .title {
  font-size: 1.2em;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

.detail-page .review-container .content {
  background-color: white;
  padding: 5px;
  color: #605d5d;
}

.detail-page .review-container .average {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.detail-page .review-container .review-cat {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.detail-page .detail-info .review-container .average .num {
  font-size: 3em;
  line-height: 120%;
}

.detail-page .review-container .filled {
  color: black;
}

.detail-page .review-container .unfilled {
  color: #e7dff1;
}

.detail-page .review-cat .people {
  margin-left: 15px;
}

.detail-page .review-container .review-list {
  height: 300px;
  overflow: scroll;
}

.detail-page .review-container .review-list-element {
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid grey;
}

.detail-page .cart-btn {
  background-color: #5b2f93;
  color: white;
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  margin-left: 50px;
  font-weight: bold;
}

.detail-page .detail-info .description-detail .title {
  font-size: 2em;
  margin-left: 10px;
  margin-bottom: 20px;
}
.detail-page .feature-list {
  margin-bottom: 80px;
}
.detail-page .feature-list li {
  margin: 20px 0px;
}

.detail-page th,
td {
  padding-left: 10px;
}

.detail-page table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}
