.App {
  text-align: center;
  font-family: "Niramit", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  padding-top: 20px;
  vertical-align: bottom;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
}

.bottom-column {
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.mid-column {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/* .container {
  width: 100%;
} */

.heading {
  width: 100%;
  max-width: 1440px;
}

.heading .logo {
  width: 30%;
  display: inline-block;
}

.heading .logo img {
  width: 80%;
}

.heading .search {
  width: 40%;
  display: inline-block;
}

.heading .icon-actions {
  width: 30%;
  display: inline-block;
  margin-bottom: 10px;
}

.heading .icon-actions .content {
  width: 90%;
  margin-left: 10%;
  font-size: 1em;
}

.headCats {
  width: 50%;
  display: inline-block;
}

.headCats img {
  width: 40px;
  display: inline-block;
}

.headCats div {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  position: relative;
  bottom: 10px;
  display: inline-block;
}

.bottom-div {
  height: 100px;
}

.bottom-div:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.bottom-div-ele {
  display: inline-block;
  vertical-align: bottom;
}

.navbar {
  background-color: #5b2f93;
  height: 60px !important;
  padding-top: 18px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.navbar a {
  font-size: 1.2em;
  color: white;
}

.header {
  margin-bottom: 15px;
}

.scroller-container {
  width: 100%;
  margin: 10px auto;
}

.carousel-container {
  width: 100%;
  margin-bottom: 10px;
  height: 300px;
  overflow: hidden;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: auto auto;
  padding-top: 20px;
}

.footer {
  background-color: #e7dff1;
  padding: 20px;
  margin-top: 50px;
}
.footer .collections {
  width: 90%;
  max-width: 1440px;
  margin: auto auto;
}
.footer .content {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.footer .content .title {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.footer .content .links {
  text-align: left;
  color: #584d59;
  list-style: none !important;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 0.8em;
  line-height: 180%;
}

.footer .social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
}
