// Optionally override some settings
$color-brand: #fb3b00;
$purple: #5b2f93;


// Import the theme
@import 'vanilla-framework/scss/build';

// Include the Sass you want
@include vanilla;


.navbar{
    background-color: $purple;
    
}